


.nav-left{
    display: flex;
box-sizing: border-box;
    font-weight: 400;
    font-size: 15px;
    padding-left: 115px;
}

.nav-left h1{
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 17px;
     font-weight: 550;
     /* margin: 15px; */
     margin-left: 10px;
     margin-top: 18px;
     margin-right: 20px;
}
.nav-left img{
    width: 23px;
    height: 23px;
    margin: 16px;
      
}
.nav-one{
    display: flex;
    gap: 5px;
    
    
}
select{
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none; 
    font-size: smaller;
    background-color: white;
    justify-content: center;
    letter-spacing: 0.113px;
    height: 51px;

}
.nav-right{
    display: flex;
    margin: 16px;
    border: none; 
    align-items: center;

    
}
.rightmost{
    display: flex;
    border: none;
    list-style: none;
    outline: none;
}
.nav{
    display: flex;
   
    justify-content: space-between;
    width: 100%;
}
.rightmost{
    transform: translateX(-110px);
    font-weight: 100px;
    width: 90%;
}
.rightmost button{
     border: none;
    /* list-style: none; */
    /* outline: none; */
    background-color: white;
    letter-spacing: -0.3px;
}
.Search button{
    width: 119px;
    height: 32px;
    border-radius: 3.5px;
    font-weight: 400;
    border-width: 1.8px;
    padding-right: 70px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-style:normal;
    color:rgb(76, 76, 81);

}
.Search{
    transform: translateX(-135px);
    margin-top: -5px;
}
.Azure button{
   color: #1a1a1f;
   background-color: #89c402;

    height: 32px;
    border-radius: 3.5px;
       font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    letter-spacing: -0.9px;
    border-color: black;
}
   
   
    .Azure2 button{
         width: 100%;
         
    }
    header{
        margin: 0px;
        object-fit: cover;
        width: 100%;
    }

.header-img video{
 width: 100%;
    box-sizing: border-box;
color: rgb(23, 37, 61);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
height: 609px;
letter-spacing: -0.48px;
line-height: 24px;
object-fit: cover;
text-align: left;
width: 1840px;
margin-left: -20px;
    margin: 0px;

}
.second {
    width: 36%;
    align-items: center;
    transform: translateY(-500px);
    padding-left: 250px;
    line-height: 30px;

}
/* .first{ */
    /* position: 0; */
/* } */


.second  h1{
    box-sizing: border-box;
color: rgb(14, 23, 38);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 48px;
font-weight: 600;
letter-spacing: -2.4px;
}
.second p{
box-sizing: border-box;
color: rgb(23, 37, 61);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: 560;
letter-spacing: 0.96px;
}
.second h3{
    box-sizing: border-box;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: 400;
letter-spacing: -0.6px;
line-height: 32px;

}
.nav-like{
    z-index: 1;
    display: flex;
    color: #1a1a1f;
}
.btn{
    height: 44px;
    gap: 10px;
    display: flex;
}
.btn {
    width: 100%;
}
.btn1 button{
    width: 108.5px;
    height: 52px;
    border-radius: 10px;
    background-color: rgb(0, 120, 212);
    border: none;
    color: white;
    cursor: pointer;
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
letter-spacing: -0.3px;
line-height: 22px;
padding-bottom: 2px;
text-align: center
}
.btn2 button{
    width: 150px;
    height: 52px;
    border-radius: 10px;
    background-color: #89c402;
    border: none;
    color: rgb(0, 0, 0);
cursor: pointer;
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
letter-spacing: -0.3px;
line-height: 22px;
padding-bottom: 2px;
text-align: center
}
.nav-like{
    margin-top: -289px;
    /* background-color: #89c402; */
    /* display: flex; */
    justify-content: space-around;
    border-bottom-style: inset;
    height: 50px;
}
.new{
    display: flex;
column-gap: 48px;
display: flex;
flex-wrap: wrap;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 600;
letter-spacing: -0.48px;
color: rgb(0, 103, 184);

    }
    .Azure3 button{
        width: 140px;
    height: 37px;
        border-radius: 10px;
        background-color: #89c402;
        border: none;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    }
    .Azure3{
        padding-top: 4px;
        padding-left: 39px;
    }
    .feature{
     padding-left: 246px;
}
.feature h1{
   font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight: 600;
letter-spacing: -1.6px;
line-height: 40px;
margin-bottom: 0px;
margin-top: -5px;
}
.feature p{
    box-sizing: border-box;
color: rgb(23, 37, 61);
display :block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
font-weight: 600;
height: 16px;
letter-spacing: 0.96px;
margin-top: 97px;
}
.box{
   align-items: center;
box-sizing: border-box;
color: rgb(23, 37, 61);
display: grid;
grid-template-columns: 445px 444px 470px ;
/* flex-direction: column; */
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.48px;
line-height: 24px;
max-width: 100% ;
justify-content: center;
transform: translateX(18px);
background: #f4fafd;
flood-color: #f4fafd;

}

.box-cub{
    margin-top: 44px;
    width: 432px;
    box-sizing: border-box;
height: 440px;
border-radius: 23px;
border: 2px solid #d9dfe1;
background-color: #fefefe;



}
.box-cub img{
    align-items: center;
    margin: 4px;
    border-radius: 17px;
    padding-left: 3.4px;
    padding-top: 1.4px;
}
.box-sub{
    margin-top: 44px;
    width: 432px;
    box-sizing: border-box;
height: 440px;
border-radius: 23px;
border: 2px solid #d9dfe1;
background-color: #fefefe;
align-items: center;
justify-content: center;
}
.box-sub img{
 align-items: center;
    margin: 4px;
    border-radius: 17px;
    padding-left: 3.4px;
    padding-top: 1.4px;
}
.box-pub{
     margin-top: 44px;
    width: 432px;
    box-sizing: border-box;
height: 440px;
border-radius: 23px;
border: 2px solid #d9dfe1;
background-color: #fefefe;
align-items: center;
justify-content: center;
}
.box-pub img{
      align-items: center;
    margin: 4px;
    border-radius: 17px;
    padding-left: 3.4px;   
    padding-top: 1.4px;
}
.box-cub h3{
   color: rgb(14, 23, 38);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 550;
letter-spacing: -0.6px;
line-height: 28px;
padding-left: 14px;
}
.box-cub p{
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.48px;
width: 89%;
margin-left: 15px;
line-height: 24px;

}
    
.box-sub h3{
   color: rgb(14, 23, 38);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 550;
letter-spacing: -0.6px;
line-height: 28px;
padding-left: 14px;
}
.box-sub p{
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.48px;
width: 80%;
margin-left: 15px;
line-height: 24px;

}
    .box-pub h3{
   color: rgb(14, 23, 38);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 550;
letter-spacing: -0.6px;
line-height: 28px;
padding-left: 14px;
}
.box-pub p{
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: -0.48px;
width: 80%;
margin-left: 15px;
line-height: 24px;

}
.feature p {
    background: #f4fafd;

}
.feature h1{
    background: #f4fafd;
}
.middle{

    background-color: #f4fafd;
    border-bottom-color: #f4fafd;
   
}
.middle p{
    border-color: #f4fafd;
    
}
.solution{
     background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_desktop-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=980&qlt=100&fmt=png-alpha&fit=constrain");
     margin-top: -11px;
     margin-right: -10px;
     /* object-fit: cover; */
     padding-left: 250px;
     /* width: 100%; */
       background-size: 100% auto;
  background-repeat: no-repeat; /* Optional: prevents the image from repeating */
  background-position: center;
     
     
}
.solution p{
padding-top: 73px;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
font-weight: 600;
letter-spacing: 0.96px;
line-height: 24px
}
.solution h1{  
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight: 600;
letter-spacing: -1.2px;
/* width: 100%; */
margin-top: -1px;
}
.paanch-btn{
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
    
}
.poo button{
    color: #f4f7fb;
   width: 182.20px; 
   height: 40px;
   align-items: center;
   border-radius: 20px;
   font-size: 10px;
   border: none;
   background-color: #005597;
   cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;

}
.koo button{
     color: #004275;
   width: 169.20px; 
   height: 40px;
   align-items: center;
   border-radius: 20px;
   font-size: 10px;
   border: none;
   background-color: #dce9f2;
   cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
}
.noo button{
    color: #004275;
   width: 195.20px; 
   height: 40px;
   align-items: center;
   border-radius: 20px;
   font-size: 10px;
   border: none;
   background-color: #dce9f2;
   cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
}
.foo button{
       color: #004275;
   width: 176.20px; 
   height: 40px;
   align-items: center;
   border-radius: 20px;
   font-size: 10px;
   border: none;
   background-color: #dce9f2;
   cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
}
.doo button{
     color: #004275;
   width: 66.20px; 
   height: 40px;
   align-items: center;
   border-radius: 20px;
   font-size: 10px;
   border: none;
   background-color: #dce9f2;
   cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
}
  .scroll {
    display: flex;
 margin-top: 50px;
 margin-bottom: 20px;
 font-size: 18px;
 width: 100%;
 
  }  
  

  .scroll select{
    background-color: #f5fafd;
    border: none;
  }

  .scroll-bar div{
    margin: 39px;
 padding-left: 18px;
 font-size: 18px;
 width: 100%;
 border-bottom-style: ridge;
  }  
  
  .scroll-ig{
    padding-left: 340px;
  }
  .scroll-bar{
    margin-top: -50px;
    width: 24%;
    overflow: scroll;
    overflow-X: hidden;

  }
  .scroll-ig img{
    margin-top:-13px;
border-radius: 22px;
transform: translateX(-40px);
object-fit: cover;
position: absolute;

    }
  
.square{
   display: inline-block;
   justify-content: center;
   align-items: center;
   
}
.square img{
    justify-content: center;
   border-radius: 4px;
   justify-content: center;
   align-items: center;
   padding-left: 268px;
   transform: translateY(200px);
   object-fit: cover;

}
.unni{
    display: flex;
    align-items: center;
    /* justify-content: flex-start */
    padding-top: 40px;
    gap: 7px;
    text-align: center;
    margin-bottom: 90px;

}
.unni button{
    width: 34px;
    height: 35px;
   background-color: #0078d4;
   border-radius: 6px;
   border: none;
   color: #f4f7fb;

}
.unni p{
    display: flex;
   /* box-sizing: border-box; */
   cursor: pointer;
   font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12.9px;
   font-weight: 600px;
   letter-spacing: -0.48px;
   line-height: 20px;
   padding-top: 0px;
   color: #195583;
}
.product h2{
    box-sizing: border-box;
   /* box-sizing: border-box; */
color: rgb(14, 23, 38);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight: 600;
letter-spacing: -1.6px;
line-height: 40px;
/* margin-top: -30px; */
}  
.product-ser{
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
align-items: center;
padding-left: 220px;

}
.product{
    margin-top: -90px;
    margin-left: 27px;
} 
.product p{
    padding-top: 90px;
    box-sizing: border-box;
color: rgb(23, 37, 61);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 11px;
font-weight: 570;
letter-spacing: 0.96px;
margin-bottom: 0px;
}

    
 .product-ser .so{
    width: 109px;
    height: 40px;
    border-radius: 20px;
border: none;
background-color: #005597;
color: #ffffff;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
} 
.product-ser .to{
 width: 213px;
    height: 40px;
    border-radius: 20px;
border: none;
background-color: #ddeaf3;
color: #004275;
font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
}
.product-ser .po{
   width: 113px;
    height: 40px;
    border-radius: 20px; 
border: none;
background-color: #ddeaf3;
color: #004275;
font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
}
.product-ser .do{
    width: 130px;
    height: 40px;
    border-radius: 20px; 
border: none;
background-color:#ddeaf3;
color: #004275;
font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
}
.product-ser .lo{
   width: 197px;
    height: 40px;
    border-radius: 20px; 
border: none;
background-color: 
#ddeaf3;
color: #004275;font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
}
.product-ser .co{
     width: 74px;
    height: 40px;
    border-radius: 20px;
border: none;
color: #004275;
background-color: #ddeaf3;
font-size: 14px;
font-weight: 600;
letter-spacing: normal;
line-height: 24px
}
.product-nav{
    display: flex;
    gap: 10px;
    padding-top: 20px;
    margin-left: 20px;

}
.full-box{
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/ACOM-HP-Desktop-ENUS-Product-PromoCard-Phi3-Overlay@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=320&hei=560&qlt=100&fmt=png-alpha&fit=constrain");
    /* position: absolute; */
    height: 566px;
width:318px;
margin-top: 50px;
 border-radius: 15px;
object-fit: cover;
background-repeat: no-repeat;
border-bottom-right-radius: 24px;
border-bottom-left-radius: 24px;

}
.full-box h3{
color: rgb(244, 250, 253);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;
font-weight: 570;
letter-spacing: -1.6px;
line-height: 50px;
justify-content: center;
margin-left: 25px;
float: left;

}

.space{
    padding-top: 40px;
}
.space p{
    box-sizing: border-box;
color: rgb(220, 238, 248);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15.5px;
font-weight: 500;
letter-spacing: -0.3px;
line-height: 24px;
width: 99%;
/* margin-bottom: 0px; */
padding-left: 24px;
transform: translateY(190px);

}
.space button{
    height: 52px;
    width: 171px;
    background-color: #b3daf0;
    border: none;
    border-radius: 9px;
    margin-left: 24px;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14.1px;
font-weight: 550;
letter-spacing: -0.3px;
padding-left: 30px;
/* transform: translateY(188px); */
}
.grid-around{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 305px 305px 306px ;
    grid-template-rows: 260px 260px;
    /* width: 10%; */
    gap: 28px;
    transform: translateX(15px);
    /* justify-content: space-between; */
}
.space-full{
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/micr…1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
    display: flex;
    
    margin-left: 23px;
    /* padding-right: 30px; */
    /* margin-right: -29px; */
}
.grid-1{
    height: 275px;
    display: block;
box-sizing: border-box;
    width: 318px;
color: rgb(23, 37, 61);
border-radius: 27px;
background-color: #fefefe;
border: 1px solid #d9dfe1;

/* border-color: #dde0e3; */
}
.grid-1 h4 {
    box-sizing: border-box;
color: rgb(0, 41, 72);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 600;
/* height: 24px; */
letter-spacing: -0.54px;
line-height: 24px;
padding-left: 19.8px;
}
.grid-1 span{
    /* box-sizing: border-box; */
color: rgb(23, 37, 61);
/* display: contents; */
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 25px;
width: 100%;

}
.grid-1 p{
    /* box-sizing: border-box; */
color: rgb(0, 66, 117);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13.78px;
font-weight: 520;
letter-spacing: -0.49px;
/* line-height: 18px; */
text-decoration: underline ;


}
.grid-1 img{
    height: 24px;
    height: 24px;
    margin: 20px;
    /* background-color: #005597; */
    padding: 10px;
    border: 1.2px solid #e6f2fb;
    border-radius: 7px;
}
.grid-1 p{
    display: flex;
    margin-top: -40px;
    padding-left: 30px;
}

.gartner{
    margin-top: 280px;
    background-color: #fefefe;
    display: flex;
    height: 489px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #e2e8eb;
    width: 1295px;
    /* transform: translateX(335px); */
    align-items: center;
    margin-left: 25px;
   
    
    
}
.gart{
    margin-top: 30px;
    width: 100%;
    padding-top: 150px;
    /* align-items: flex-start; */
box-sizing: border-box;
color: rgb(23, 37, 61);

    
}
.img img{
    border-radius: 20px;
    /* margin-left: 50px; */
    /* margin-top: px; */
}
.gart h1{
box-sizing: border-box;
color: rgb(14, 23, 38);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 29px;
font-weight: 580;
letter-spacing: -1.1px;
line-height: 40px;

}
.gart span{
    /* box-sizing: border-box; */
color: rgb(23, 37, 61);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14.5px;
font-weight: 400;
letter-spacing: -0.48px;
line-height: 24px;
margin: 30px;
width: 30%;
text-align: left;
width: 572;
height: 72;

}
.gart button{
background-color: #0078d4;
width: 127.55px;
height: 52px;
border-radius: 9px;
border: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 500;
letter-spacing: -0.3px;
line-height: 22px;
margin-top: 18px;
}
.half{
    display: block;
    text-align: center;
    padding-top: 70px;
    
}
.half p{
    height: 16px;
    width: 100%;
    box-sizing: border-box;
color: rgb(23, 37, 61);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 10px;
font-weight: 550;
letter-spacing: 0.96px;
line-height: 16px;
margin-bottom: 8px;
text-align: center;
text-transform: uppercase;
}
.half h1{
    box-sizing: border-box;
color: rgb(14, 23, 38);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 41px;
font-weight: 559;
letter-spacing: -2px;
line-height: 48p;
width: 100%;
margin-top: -1px;
}
.list {
    display: flex;
    width: 100%;
    margin: 20px;
    
}
.list ul::before {
    content: "|";
}

.list-pop{
display: flex;
text-align: center;

}
.mop{
    display: flex;
}
    .kop{
display: flex;
padding-top: 50px;
    }
    
.half{
    margin-top: 59px;
    padding-right: 250px;

}
.list-pop{
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=768&qlt=85&fmt=png-alpha&fit=constrain");
    margin-top: 10px;
    margin-bottom: 0px;
    border: 2px solid #e2e8eb;
    width: 80%;
    background-color: #fefefe;
    display: flex;
    /* flex-direction: column; */
    column-gap: 20px;
    height: 64px;
    text-align: center;
    /* justify-content: space-evenly; */
    border-radius: 19px;
    padding-left: 30px;
}
.list-pop span{
    padding-top: 33px;
}
.list-pop .mop{
    display: flex;
    gap: 140px;
    margin-top: -10px;
    padding-left: 60px;  
}
.list-pop .mop span::before{
 content: "|";
}
.list-pop{
    box-sizing: border-box;
}
.cheveron{
     background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=768&qlt=85&fmt=png-alpha&fit=constrain");
  height: 760px;
object-fit: cover;
margin-top: -44px;
/* background-repeat: no-repeat; */
/* max-width: 1844px; */
width: 100%;
     background-size: 100% auto;
  background-repeat: no-repeat; /* Optional: prevents the image from repeating */
  background-position: center;

}
.cheveron div{
   display: flex;
align-items: center;
justify-content: center;
text-align: center;
align-items: baseline;
gap: 10px
    
}
.cheveron button{
    color: #e2e8eb;
    height:34.7px;
    width: 35px;
    border-radius: 7px;
    border: none;
    background-color: #0078d4;
}
.cheveron p{
    box-sizing: border-box;
color: rgb(0, 66, 117);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 600;
letter-spacing: -0.48px;
}
.cheveron h1{
    color: rgb(14, 23, 38);

font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 600;
letter-spacing: -1.2px;
line-height: 32px;
margin-top: 45px;
width: 100%;
text-align: center;
/* transform: translateX(-120px) */
padding-top: 40px;

}
.relax img{
    padding: 20px;
    margin: 40px;
    border-radius: 30px;
}
.global img{
    margin-left: -8px;
    margin-right: -10px;
    object-fit: cover;

}
.global{
   display: flex; 
   /* position: absolute; */
}
.global h1{
    position: absolute;
    /* position: fixed; */
    margin-top: -120px;
    box-sizing: border-box;
color: rgb(244, 250, 253);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 40px;
font-weight: 600;
letter-spacing: -2px;
/* line-height: 48px; */
margin-bottom: 0px;
/* margin-top: 0px; */
text-align: center

  
}
.global p{
    position: absolute;
    box-sizing: border-box;
color: rgb(220, 238, 248);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
font-weight: 400;
letter-spacing: -0.6px;
/* line-height: 32px; */
margin-bottom: 0px;
/* text-align: center;;/ */
margin-top: -20px;

}
.global button{
    position: absolute;
    margin-top: 130px;
    height: 52px;
    width: 153px;
    border-radius: 8px;
    border: none;
    background-color: rgb(179, 218, 240);
    cursor: pointer;
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 600;
    
}
.glob{
    /* position: absolute; */
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.master p{
    display: block;
    /* margin-top: -30px; */
    margin-left: 30px;
    padding-left:230px;
    /* margin-top: 56px; */
    color: rgb(23, 37, 61);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: 600;
letter-spacing: 0.96px;
line-height: 16px;
}
.master h2{
    margin: 20px;
    padding-left: 239px;
    color: rgb(14, 23, 38);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;
font-weight: 600;
letter-spacing: -1.6px;
}
.stories{
    background-color: #f4fafd;
}
.lego{
     background-color: #fefefe;
    display: flex;
    height: 530.65px;
    padding: 10px;
    border-radius: 24px;
    border: 2px solid #e2e8eb;
    width: 1295px;
    transform: translateX(251px);
    align-items: center;
    /* border:0.7px dashed black; */
    margin-top: 0px;


}
.AKS{
    display: block;
}
.quarter{
    transform: translateY(-120px);
    margin-left: 15px;
   
}
.quarter img{       
height: 75px;
width: 174px;
border: 1px solid #bdc5d2;
border-radius: 8px;
}
.edge{
display: flex;
}
.master p{
    padding-top: 80px;
    margin-top: -1px;
}
.foreign img{
    border-radius: 20px;
    margin-top: 5px;
    padding-right: -5px;
}
.writings h2{
    /* padding-bottom: 200px; */
    transform: translateY(-120px);
    box-sizing: border-box;
color: rgb(23, 37, 61);
display: block;
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
font-weight: 600;
letter-spacing: -1.2px;
line-height: 32px;
margin-left: 16px;
/* overflow-wrap: break-word; */
/* text-align: left */
}

.AKS button{
   border: none;
   height: 52px;
   width: 105.983;
   box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
background-color: #0078d4;
/* display: block; */
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: 600;
justify-content: center;
letter-spacing: -0.3px;
line-height: 22px;
overflow-wrap: break-word;
padding-bottom: 12px;
padding-left: 16px;
padding-right: 16px;
padding-top: 12px;
border-radius: 9px;
transform: translateY(100px);
}
.seeman{
    
    display: flex;
    width: 55%;
    height: 122.2px;
    border: 2px solid #d0d5d8;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-left: 400px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #fefefe;
    
}
.boxer{
    /* background-color: white; */
    border-right: 1px solid #e2e2e2;
    border-top: none;
    height:120px;
    align-items: center;
    justify-content: center;
    text-align: center;

    
}
.boxer img{
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}
.janco button{
    height: 35px;
    width: 34.7;
     color: #e2e8eb;
    height:34.7px;
    width: 35px;
    border-radius: 7px;
    border: none;
    background-color: #0078d4;
}
.janco{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 260px ;
    gap: 9px;
    margin-top: 25px;
}
.janco p{

color: rgb(0, 66, 117);
font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 600;
letter-spacing: -0.48px
}
.pro{
    display: grid;
    grid-template-columns: 448px 448px 448px ;
    /* grid-template-rows: 1fr; */
    /* position: center; */
    justify-content: center;
    position: absolute;

}
.groot{
    width: 429.33px;
    height: 259px;
    border: 2px solid #dadfe1;
    border-radius: 20px;
    /* position: absolute; */
    background-color: #fefefe;
    

}
.last-grid{
    /* justify-content: center; */
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/CTA-BG-desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=512&qlt=100&fmt=png-alpha&fit=constrain");
    height: 547px;
    width: 1835px;
     width: 100%; /* or any specific width you want */
            overflow: auto; 
    /* dke dij die ifj  difdj feiod idfeiwoei soifjeifj sifoeif i idfwo sosihfe isfoei aoidfow idoie aifoieoi difjoweif qifoeiu aifoie iajfieo iajfoiaje aoijf wi ijfwei aijf */
}
.foo{fjoefiji
}heifhu





.{;}

