@font-face {
  font-family: norm-medium;
  src: url("./fonts/latest\(2\).woff2");
}

@font-face {
  font-family: norms-bold;
  src: url(fonts/latest-med.woff2);
}
@font-face {
  font-family: m-fluent;
  src: url(fonts/MWFFluentIcons\(1\).woff2);
}
:root {
  flex: 0 0 var(calc(calc(100% - calc(1rem * (3 - 1))) / 3));
}

* {
  font-family: norms-bold;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.nav {
  margin-top: 5px;
  width: 100%;
  height: 54px;
}
.nav-left {
  display: flex;
  box-sizing: border-box;
  padding-left: 115px;
}

.nav-left h1 {
  font-family: norms-medium;
  font-size: 16px;
  font-weight: 550;
  /* margin: 15px; */
  margin-left: 18px;
  margin-top: 13px;
  margin-right: 20px;
}
.nav-left img {
  max-width: 23px;
  height: 23px;
  margin: 5px;
  padding-left: 3px;
  padding-top: 4px;
}
.nav-one {
  display: flex;
  gap: 4px;
  padding-left: 8px;
  transform: translateY(-5px);
}
select {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  border: none;
  /* font-size: smaller; */
  background-color: white;
  justify-content: center;
  letter-spacing: 0.113px;
  height: 51px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #57575a;
}
.nav-right {
  display: flex;
  /* margin: 16px; */
  align-items: center;
}
.rightmost {
  display: flex;
  border: none;
  list-style: none;
  outline: none;
  align-items: center;
  /* justify-content: center; */
}
.nav {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
.rightmost button {
  border: none;
  background-color: white;
  letter-spacing: -0.3px;
}
.Search button {
  max-width: 120px;
  height: 32px;
  border-radius: 3.5px;
  font-weight: 400;
  border-width: 1.8px;
  padding-right: 70px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  /* color:rgb(76, 76, 81); */
  border: 1px solid #747479;
  /* width: 100%; */
  background-color: #f8f9fa;
}
.Search search {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 19px;
}
.Search span i {
  max-width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -24px;
  margin-top: 5px;

  /* align-items: center; */
  font-size: 20px;

  color: #1a1a1f;
}
.Azure button {
  color: #1a1a1f;
  background-color: #89c402;
  height: 32px;
  border-radius: 3.5px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  letter-spacing: -0.9px;
  border-color: black;
  /* transform: translateY(); */
  text-align: center;
  align-items: center;
}
.first {
  width: 100%;
  max-height: 628px;
}
.Azure3 button {
  width: 100%;
  margin: auto;
}
header {
  margin: 0px;
  object-fit: cover;
  width: 100%;
}
.header-img {
  width: 100%;
}
.cid {
  display: flex;
  align-items: center;
}

.header-img video {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 628px;
  object-fit: cover;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}
.second {
  position: absolute;
  max-width: 50%;
  align-items: center;
  margin-left: 240px;
  line-height: 30px;
  top: 190px;

  /* position: fixed; */
}
.second h1 {
  max-width: 656px;
  box-sizing: border-box;
  color: rgb(14, 23, 38);
  /* font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -2.4px;
  font-family: norms-bold;
  line-height: 56px;
}
.second p {
  max-width: 656px;
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  font-family: norms-bold;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  line-height: 16px;
}
.second h3 {
  max-width: 656px;
  box-sizing: border-box;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  line-height: 32px;
  color: rgb(23, 37, 61);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.nav-like {
  z-index: 1;
  display: flex;
  color: #1a1a1f;
  width: 100%;
  margin-left: 0px;
  justify-content: space-around;
}
.btn {
  max-width: 639px;
  height: 44px;
  gap: 10px;
  display: flex;
  flex-grow: 1;
}
.btn1 button {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: rgb(0, 120, 212);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  padding-bottom: 2px;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}
.btn2 button {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: #89c402;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
  padding-bottom: 2px;
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}
.nav-like {
  justify-content: center;
  margin-top: 0;
  justify-content: space-around;
  border-bottom-style: inset;
  height: 56px;
  width: 100%;
  margin-bottom: 0;
}

.new {
  margin-top: 7px;
  display: flex;
  column-gap: 48px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.48px;
  color: rgb(0, 103, 184);
}
.new p {
  display: flex;
}
.new p.p1{
border-bottom: 4px solid #0078d4;
padding-bottom: 34px;
border-radius: 4px;
}
.Azure3 button {
  width: 140px;
  height: 37px;
  border-radius: 10px;
  background-color: #89c402;
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  margin-top: 10px;
}
.Azure3 {
  justify-content: center;
  padding-left: 39px;
}

.feature h1 {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1.6px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: 250px;
}
.feature p {
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.96px;
  /* margin-top: 97px; */
  padding-top: 100px;
  align-items: center;
  width: 100%;
  padding-left: 250px;
}
.middle {
  /* margin: 0; */
  /* padding: 0; */
  width: 100%;
}
.box {
  align-items: center;
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  display: flex;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  /* width: 100%; */
  justify-content: center;
  /* transform: translateX(-40px); */
  /* padding-left: 49px; */
  gap: 13px;
}

.box-cub {
  margin-top: 44px;
  max-width: 432px;
  box-sizing: border-box;
  height: 440px;
  border-radius: 23px;
  border: 2px solid #d9dfe1;
  background-color: #fefefe;
}
.box-cub img {
  max-width: 413px;
  align-items: center;
  margin: 4px;
  border-radius: 17px;
  padding-left: 3.4px;
  padding-top: 1.4px;
}
.box-sub {
  margin-top: 44px;
  max-width: 432px;
  box-sizing: border-box;
  height: 440px;
  border-radius: 23px;
  border: 2px solid #d9dfe1;
  background-color: #fefefe;
  align-items: center;
  justify-content: center;
}
.box-sub img {
  max-width: 413px;
  align-items: center;
  margin: 4px;
  border-radius: 17px;
  padding-left: 3.4px;
  padding-top: 1.4px;
}
.box-pub {
  margin-top: 44px;
  max-width: 432px;
  box-sizing: border-box;
  height: 440px;
  border-radius: 23px;
  border: 2px solid #d9dfe1;
  background-color: #fefefe;
  align-items: center;
  justify-content: center;
}
.box-pub img {
  max-width: 413px;
  align-items: center;
  margin: 4px;
  border-radius: 17px;
  padding-left: 3.4px;
  padding-top: 1.4px;
}
.box-cub h3 {
  color: rgb(14, 23, 38);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: -0.6px;
  line-height: 28px;
  padding-left: 14px;
}
.box-cub p {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  width: 89%;
  margin-left: 15px;
  line-height: 24px;
}

.box-sub h3 {
  color: rgb(14, 23, 38);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: -0.6px;
  line-height: 28px;
  padding-left: 14px;
}
.box-sub p {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  width: 80%;
  margin-left: 15px;
  line-height: 24px;
}
.box-pub h3 {
  color: rgb(14, 23, 38);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: -0.6px;
  line-height: 28px;
  padding-left: 14px;

}
.box-pub p {
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  width: 80%;
  margin-left: 15px;
  line-height: 24px;
}
.feature p {
  background: #f4fafd;
}
.feature h1 {
  background: #f4fafd;
}
.middle {
  background-color: #f4fafd;
  border-bottom-color: #f4fafd;
}
.middle p {
  border-color: #f4fafd;

  margin-bottom: 30px;
  align-items: cente;
  margin-top: -1px;
}
.solution {
  box-sizing: border-box;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/solution-background_desktop-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=980&qlt=100&fmt=png-alpha&fit=constrain");
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100% auto;
  /* background-repeat: no-repeat; Optional: prevents the image from repeating */
  background-position: center;
}
.solution p {
  max-width: 600px;
  padding-top: 73px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.96px;
  line-height: 24px;
}
.solution h1 {
  max-width: 614px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1.2px;
  /* width: 100%; */
  margin-top: -1px;
}
.paanch-btn {
  max-width: 1328px;
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
  flex-direction: row;
  overflow-x: auto;
}
.poo button {
  color: #f4f7fb;
  width: 182.2px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  font-size: 10px;
  border: none;
  background-color: #005597;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.koo button {
  color: #004275;
  width: 169.2px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  font-size: 10px;
  border: none;
  background-color: #dce9f2;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.noo button {
  color: #004275;
  width: 195.2px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  font-size: 10px;
  border: none;
  background-color: #dce9f2;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.foo button {
  color: #004275;
  width: 176.2px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  font-size: 10px;
  border: none;
  background-color: #dce9f2;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.doo button {
  color: #004275;
  width: 66.2px;
  height: 40px;
  align-items: center;
  border-radius: 20px;
  font-size: 10px;
  border: none;
  background-color: #dce9f2;
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.scroll {
  max-width: 1300px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
}
.scroll select {
  background-color: #f5fafd;
  border: none;
  /* width: 100%; */
}
.scroll-ig {
  position: relative;
}
.scroll-ig img.great{
  position: absolute;
  /* left: 300px; */
  right: 54%;
  top:44%;
  
}
.ciffer{
  border-left: #0078d4 5px solid;
  height: 220px;
}
.ciffer .ciff{
  margin: 0;
  font-family: norm-medium;
  color: #004275;
}

.scroll-bar div {
  margin: 39px;
  padding-left: 58px;
  font-size: 18px;
  /* width: 100%; */
  border-bottom-style: ridge;
  font-family: norms-bold;
}

.scroll-ig {
  display: flex;
  justify-content: space-between;
  /* aspect-ratio: 21/9; */

  width: 100%;
}
.scroll-bar {
  margin-top: 0px;
  width: 59%;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 483px;
}
.scroll-ig img {
  /* margin-top:-13px; */
  border-radius: 22px;
  transform: translateX(200px);
  object-fit: cover;
  position: relative;
}
.square {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.square img {
  position: absolute;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  /* margin-left: -290px; */
  /* transform: translateY(210px); */
  object-fit: cover;
}
.unni {
  display: flex;
  align-items: center;
  /* justify-content: flex-start */
  padding-top: 40px;
  gap: 7px;
  text-align: center;
  margin-bottom: 90px;
}
.unni button {
  width: 34px;
  height: 35px;
  background-color: #0078d4;
  border-radius: 6px;
  border: none;
  color: #f4f7fb;
}
.unni p {
  display: flex;
  /* box-sizing: border-box; */
  cursor: pointer;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12.9px;
  font-weight: 600px;
  letter-spacing: -0.48px;
  line-height: 20px;
  padding-top: 0px;
  color: #195583;
}
.product h2 {
  box-sizing: border-box;
  /* box-sizing: border-box; */
  color: rgb(14, 23, 38);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1.6px;
  line-height: 40px;
  /* margin-top: -30px; */
}
.product-ser {
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
  align-items: center;

  margin-bottom: 30px;
}
.product {
  margin-top: -90px;
  margin-left: 27px;
}
.product p {
  padding-top: 90px;
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11px;
  font-weight: 570;
  letter-spacing: 0.96px;
  padding-bottom: 0px;
}

.product-ser .so {
  max-width: 109px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #005597;
  color: #ffffff;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-ser .to {
  max-width: 213px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ddeaf3;
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-ser .po {
  max-width: 113px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ddeaf3;
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-ser .do {
  max-width: 130px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ddeaf3;
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-ser .lo {
  max-width: 197px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ddeaf3;
  color: #004275;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-ser .co {
  max-width: 74px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #004275;
  background-color: #ddeaf3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  /* line-height: 24px; */
}
.product-nav {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  margin-left: 20px;
  /* width: 100%; */
}
.full-box {
  padding-top: 30px;
  position: relative;
}
.fast {
  margin-top: 22px;
  margin-right: 20px;
  height: 100%;
  width: 100%;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8839907192575406) 17%,
    rgba(242, 242, 242, 0) 94%
  );
}
.fast img {
  height: 570px;
  border-radius: 10px;
}
.grass {
  margin-top: -260px;
}
.grass h3 {
  color: #ffffff;
}

.full-box h3 {
  max-width: 300px;
  /* color: rgb(244, 250, 253); */
  font-family: norms-medium;
  font-size: 30px;
  font-weight: 570;
  align-items: center;
  margin-left: 30px;
}

.space p {
  max-width: 300px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 15.5px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 24px;
  width: 99%;
  /* margin-bottom: 0px; */
  padding-left: 24px;
  /* transform: translateY(250px); */
}
.space button {
  height: 52px;
  /* width: 50%; */
  background-color: #b3daf0;
  border: none;
  border-radius: 9px;
  margin-left: 24px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14.1px;
  font-weight: 550;
  letter-spacing: -0.3px;
  padding: 10px 25px;
  /* transform: translateY(244px); */
}
.grid-around {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  width: 100%;
}
.space-full {
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/micr…1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
  display: flex;
  margin-left: 23px;
}
.grid-1 {
  height: 275px;
  display: block;
  box-sizing: border-box;
  max-width: 318px;
  color: rgb(23, 37, 61);
  border-radius: 27px;
  background-color: #fefefe;
  border: 1px solid #d9dfe1;
  position: relative;
}
.grid-1 h4 {
  box-sizing: border-box;
  color: rgb(0, 41, 72);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 600;
  /* height: 24px; */
  letter-spacing: -0.54px;
  line-height: 24px;
  padding-left: 19.8px;
}
.grid-1 span {
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  /* display: flexbox; */
  font-family: m-fluent;
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: -0.48px;
  line-height: 24px;
  /* text-align: center; */
  overflow-wrap: break-word;
  width: 80%;
  position: absolute;
  left: 20px;
}
.grid-1 p {
  /* box-sizing: border-box; */
  color: rgb(0, 66, 117);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13.78px;
  font-weight: 520;
  letter-spacing: -0.49px;
  /* line-height: 18px; */
  text-decoration: underline;
  width: 100%;
  /* align-items: center; */
  display: block;
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
}
.grid-1 img {
  height: 24px;
  margin: 22px;
  /* background-color: #005597; */
  padding: 10px;
  border: 1.2px solid #e6f2fb;
  border-radius: 7px;
}
.gartner {
  position: relative;
  top: 100px;
  background-color: #fefefe;
  display: flex;
  /* height: 489px; */
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e2e8eb;
  width: 74%;
  margin: auto;
  align-items: center;
  transform: translateX(24px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
}
.gart {
  margin-top: 30px;
  width: 90%;
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  padding-right: 30px;
}
.img img {
  border-radius: 20px;
}
.gart h1 {
  box-sizing: border-box;
  color: rgb(14, 23, 38);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 29px;
  font-weight: 580;
  letter-spacing: -1.1px;
  line-height: 40px;
}
.gart span {
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
    padding-right: 40px;
  box-sizing: border-box;
  text-align: left;
  /* left: 20px; */
}
.gart button {
  background-color: #0078d4;
  padding: 10px 20px;
  height: 52px;
  border-radius: 9px;
  border: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: norms-bold;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 22px;
  position: absolute;
  bottom: 20%;
  left: 15px;
  
}
.half {
  display: block;
  text-align: center;
  padding-top: 70px;
}
.half p {
  height: 16px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: 550;
  letter-spacing: 0.96px;
  line-height: 16px;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}
.half h1 {
  box-sizing: border-box;
  color: rgb(14, 23, 38);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 41px;
  font-weight: 559;
  letter-spacing: -2px;
  line-height: 48p;
  width: 100%;
  margin-top: -1px;
}
.list {
  display: flex;
  margin: 20px;
}
.mp {
  padding-top: 20px;
}

.list-pop {
  width: 50%;
  display: flex;
  text-align: center;
  margin-left: 3px;
  margin: auto;
}
.img img {
  max-height: 518px;
}
.mop {
  display: flex;
  gap: 100px;
  padding-left: 20px;
}
.mop .mp {
  /* width:  */
  box-sizing: border-box;
  border: 1px solid #a9b1bc;
  height: 64px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-right: 20px;
}
.mop span {
  width: 100%;
  margin-top: 30px;
}
.tp {
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #a9b1bc;
  height: 64px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding-right: 20px;
}
.half {
  margin-top: 59px;
}
.kp {
  margin-top: 20px;
}
.list-pop {
  margin-top: 10px;
  margin-bottom: 0px;
  border: 2px solid #e2e8eb;
  width: 76%;
  background-color: #fefefe;
  display: flex;
  height: 64px;
  text-align: center;
  /* justify-content: space-evenly; */
  border-radius: 19px;
  padding-left: 30px;
}
.list-pop span {
  padding-top: 33px;
}
.cheveron {
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/resources-background_desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=768&qlt=85&fmt=png-alpha&fit=constrain");
  height: 760px;
  object-fit: cover;
  margin-top: -44px;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat; /* Optional: prevents the image from repeating */
  background-position: center;
}
.cheveron div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  gap: 10px;
}
.cheveron button {
  color: #e2e8eb;
  height: 34.7px;
  width: 35px;
  border-radius: 7px;
  border: none;
  background-color: #0078d4;
}
.cheveron p {
  box-sizing: border-box;
  color: rgb(0, 66, 117);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.cheveron h1 {
  color: rgb(14, 23, 38);

  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 32px;
  margin-top: 45px;
  width: 100%;
  text-align: center;
  /* transform: translateX(-120px) */
  padding-top: 40px;
}
.ff {
  display: flex;
  gap: 50px;
}
.relax img {
  height: 472.859px;
  max-width: 850.656px;
  padding: 20px;
  margin: 40px;
  border-radius: 30px;
}
.global img {
  width: 100%;
  object-fit: cover;
}
.global {
  width: 100%;
  display: flex;
}
.global h1 {
  position: absolute;
  /* position: fixed; */
  margin-top: -120px;
  box-sizing: border-box;
  color: rgb(244, 250, 253);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  /* line-height: 48px; */
  margin-bottom: 0px;
  /* margin-top: 0px; */
  text-align: center;
}
.global p {
  position: absolute;
  box-sizing: border-box;
  color: rgb(220, 238, 248);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  /* line-height: 32px; */
  margin-bottom: 0px;
  margin-top: -20px;
}
.global button {
  position: absolute;
  margin-top: 130px;
  height: 52px;
  width: 153px;
  border-radius: 8px;
  border: none;
  background-color: rgb(179, 218, 240);
  cursor: pointer;
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.glob {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.master p {
  display: block;
  /* margin-top: -30px; */
  margin-left: 30px;
  padding-left: 230px;
  /* margin-top: 56px; */
  color: rgb(23, 37, 61);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  line-height: 16px;
}
.master h2 {
  margin: 20px;
  padding-left: 239px;
  color: rgb(14, 23, 38);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1.6px;
}
.stories {
  background-color: #f4fafd;
}
.lego {
  background-color: #fefefe;
  display: flex;
  height: 530.65px;
  padding: 10px;
  border-radius: 24px;
  border: 2px solid #e2e8eb;
  max-width: 1296px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin: auto;
  
}
.AKS {
  display: block;
}
.quarter {
  transform: translateY(-120px);
  margin-left: 15px;
}
.quarter img {
  height: 75px;
  width: 174px;
  border: 1px solid #bdc5d2;
  border-radius: 8px;
  transform: translateY(50px);
}
.edge {
  display: flex;
  gap: 12px;
  transform: translateY(35px);
  /* text-align: center; */
  align-items: center;
  text-decoration: underline;
  color: #0078d4;
  margin-left: 10px;
}
.master p {
  padding-top: 80px;
  margin-top: -1px;
}
.lodge span {
  align-items: center;
}
.foreign img {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding-right: -5px;
}
.writings h2 {
  max-width: 561px;
  transform: translateY(-120px);
  box-sizing: border-box;
  color: rgb(23, 37, 61);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 23px;
  font-weight: 558;
  letter-spacing: -1.2px;
  line-height: 32px;
  margin-left: 16px;
  margin-top: 60px;
}
.AKS p {
  transform: translateY(38px);
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -1px;
}

.AKS button {
  border: none;
  padding: 15px 21px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #0078d4;
  display: block;
  font-family: norms-bold;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.3px;
  line-height: 22px;
  border-radius: 9px;
  transform: translateY(67px);
  margin-left: 10px;
  
}
.seeman {
  display: flex;
  width: 55%;
  height: 122.2px;
  border: 2px solid #d0d5d8;
  color: white;
  align-items: center;
  justify-content: space-around;
  margin-left: 400px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #fefefe;
  /* position: relative; */
}
.boxer {
  /* background-color: white; */
  border-right: 1px solid #e2e2e2;
  border-top: none;
  height: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  /* position: absolute; */
}
.boxer img {
  text-align: center;
  margin-top: 30px;
  margin-right: 30px;
  /* position: absolute; */
  
}
.janco button {
  width: 34.7px;
  color: #e2e8eb;
  height: 34.7px;
  border-radius: 7px;
  border: none;
  background-color: #0078d4;
}
.janco {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 260px;
  gap: 9px;
  margin-top: 25px;
}
.janco p {
  color: rgb(0, 66, 117);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.pro {
  display: flex;
  justify-content: center;

}
.groot {
  max-width: 429.33px;
  border: 2px solid #dadfe1;
  border-radius: 20px;
  /* position: absolute; */
  background-color: #fefefe;
  margin-left: 10px;
  padding: 60px 20px;

}
.last-grid {
  /* justify-content: center; */
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/CTA-BG-desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=512&qlt=100&fmt=png-alpha&fit=constrain");
  height: 547px;
  width: 100%;
  background-repeat: no-repeat; /* Optional: prevents the image from repeating */
  background-position: center;
  margin-bottom: -25px;
  background-size: cover;
  margin-top: -45px;
}
.groo {
  text-align: center;
  transform: translateY(110px);
  box-sizing: border-box;
}
.pro {
  justify-content: center;
  margin: auto;
  transform: translateY(125px);
  padding-left: 50px;
}
.groo h1 {
  color: rgb(14, 23, 38);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 41px;
  font-weight: 540;
  letter-spacing: -2px;
  line-height: 48px;
  /* width: 298px; */
}
.groot h3 {
  /* box-sizing: border-box; */
  color: rgb(14, 23, 38);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: -1.2px;
  line-height: 32px;
  }
.groot span {
  color: rgb(0, 41, 72);
  font-family: norms-medium;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: left;
  /* width: 30%; */
}
.brut button {
  color: #dce9f2;
  padding-top: 6px;
  display: flex;
  /* transform: translateY(54px); */
  height: 35px;
  width: 34.7px;
  border-radius: 7px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  background-color: #0078d4;
  justify-content: center;
}
.brut {
  display: flex;
  max-width: 517px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  }
.brut p {
  color: #0078d4;
  cursor: pointer;
  display: block;
  font-family: norms-bold;
  font-size: 14px;
  font-weight: 600;
  height: 22px;
  letter-spacing: -0.48px;
  line-height: 20px;
  margin-left: 5px;
}

.groot span .fa-chevron-right {
  color: #dce9f2;
}
.app button {
  height: 48px;
  width: 220.5px;
  display: flex;
  border: none;
  margin-left: 30px;
  text-align: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 70px;
  margin-left: 127px;
}
.app button p {
  display: flex;
  width: 100%;
  color: rgb(76, 76, 81);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 18.2px;
  padding-left: 10px;
}
.app {
  display: flex;
  align-items: center;
  position: relative;
}
.insta {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin-left: 30px;
  margin-top: 65px;
}
.footer-li {
  display: flex;
  gap: 30px;
  /* height: 658.2px; */
  margin-left: 90px;
  padding-top: 15px;
}
.footer-li li {
  box-sizing: border-box;
  color: rgb(26, 26, 31);
  font-family: norms-bold;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  text-align: left;
  list-style: none;
}
.language select {
  border: 0.5px solid black;
  /* padding-right: 45px; */
  height: 36px;
  max-width: 188px;
  transform: translateY(-10px);
}
.language {
  margin-left: 31px;
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.choice {
  display: flex;
  align-items: center;
  transform: translateY(39px);
}
.consume {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: block;
  background-color: #f4f5f6;
  transform: translateY(7px);
  height: 100%;
  width: 100%;
}
.cheese {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.health {
  display: block;
  gap: 30px;
}
.change {
  margin-left: 40px;
  margin-top: 25px;
  box-sizing: border-box;
  color: rgb(26, 26, 31);
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
}
.change select {
  margin-left: 60px;
}
.choice p {
  box-sizing: border-box;
  color: rgb(26, 26, 31);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11.5px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  margin: 10px;
}
.health {
  padding-right: 170px;
  margin-top: 70px;
}
.health ul {
  gap: 15px;
  display: flex;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: rgb(26, 26, 31);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11.4px;
  font-weight: 400;
  letter-spacing: -0.1px;
  width: 100%;
  /* margin-right: -40px; */
}
.dham {
  text-align: right;
  display: flex;
  /* position: absolute; */
  align-items: center;
  float: right;
  gap: 13px;
}
.dham p {
  box-sizing: border-box;
  color: rgb(76, 76, 81);
  display: block;
  flex-shrink: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11.5px;
  font-weight: 450;
  letter-spacing: -0.48px;
  line-height: 24px;
}
.dham span {
  box-sizing: border-box;
  color: rgb(26, 26, 31);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 11.5px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 24px;
}
.box-cub .ron {
  display: flex;
  margin-left: 15px;
  transform: translateY(20px);
}
.box-cub span {
  background-color: #0078d4;
  max-width: 34.7px;
  height: 35px;
  border-radius: 8px;
}
.box-cub .fa-chevron-right {
  display: block;
  align-items: center;
  text-align: center;
  transform: translateY(8px);
  color: #d9dfe1;
}
.roni {
  align-items: flex-end;
  transform: translateY(20px);
  margin-left: 15px;
  display: flex;
  width: 34.7px;
  height: 35px;
  background-color: #0078d4;
  border-radius: 8px;
}
.ron span{
  width: 34px;
}
.roni p {
  align-items: center;
  margin-top: -10px;
  display: flex;
  margin-left: 40px;
  width: 68px;
  height: 22px;
  box-sizing: border-box;
  color: rgb(0, 66, 117);
  cursor: pointer;
  display: block;
  font-family: norms-medium;
  font-size: 14px;
  font-weight: 600;
  height: 22px;
  letter-spacing: -0.48px;
  line-height: 20px;
  overflow-wrap: break-word;
}
.box-sub .ron {
  display: flex;
  margin-left: 15px;
  transform: translateY(20px);
}
.box-sub span {
  background-color: #0078d4;
  max-width: 34.7px;
  height: 35px;
  border-radius: 8px;
}
.box-sub .fa-chevron-right {
  display: block;
  align-items: center;
  text-align: center;
  transform: translateY(8px);
  color: #d9dfe1;
}
.box-pub .ron {
  display: flex;
  margin-left: 15px;
  transform: translateY(20px);
}
.box-pub span {
  background-color: #0078d4;
  width: 34.7px;
  height: 35px;
  border-radius: 8px;
}
.box-cub span {
  width: 34.7px;
  height: 35px;
}
.box-pub .fa-chevron-right {
  display: block;
  align-items: center;
  text-align: center;
  transform: translateY(8px);
  color: #d9dfe1;
}
.ron .dear {
  color: rgb(0, 66, 117);
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 20px;
  margin: 5px;
  align-items: center;
}

.relax1 {
  justify-content: end;
  float: right;
  /* width: 150px; */
}
.relax1 button {
  margin: 0px;
  padding: 0px;
  height: 50px;
  max-width: 150.67px;
  /* transform: translateX(10px); */
  background-color: #0078d4;
  border: none;
  border-radius: 10px;
}

.zooha {
  display: none;
}
.solution p {
  margin: auto 240px;
}
.solution h1 {
  margin: 20px 240px;
}
.paanch-btn {
  margin: auto 243px;
}
.scroll {
  margin: 100px 240px;
}
.unni p {
  margin-left: 0;
}
.unni {
  margin: auto 240px;
}
.product p {
  margin: 30px 230px;
}
.product h2 {
  margin: auto 213px;
}
.product-nav {
  margin: auto 240px;
}
.space-full {
  margin: auto 240px;
}
.mop span {
  font-family: norms-bold;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  letter-spacing: -0.48px;
  line-height: 24px;
  width: 100%;
}
.pp {
  width: 100%;
}
.niv {
  display: flex;
  width: 100%;
}
.tp span {
  width: 100%;
}
.cyd {
  display: flex;
  width: 100%;
  margin-right: 100px;
  align-items: center;
}
.Search {
  margin-right: 20px;
}
.dyd {
  align-items: center;
  /* margin-top: 6px; */
  margin-left: 10px;
}
.lic {
  display: none;
}
.cid button {
  display: flex;
}

@media (max-width: 1559px) {
  .nav {
    width: 100%;
     }
  .nav-left {
    padding-left: 10px;
  }
  .product-ser {
    padding-left: 0;
  }
  .space-full {
    display: block;
  }
  .full-box {
    max-width: 1287.09px;
    max-height: 551.61px;
    /* height: 100%; */
  }
  .full-box img {
    max-width: 1287.09px;
    height: 551.61px;
    object-fit: cover;
  }
  .rightmost {
    transform: none;
    /* gap: 15px; */
  }
  .grid-around {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-1 {
    display: block;
  width: 100%;
    margin: auto;
  }
  .box {
    transform: none;
    padding-left: 0;
    margin: auto;
  }
  .gartner {
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .footer-li {
    justify-content: space-around;
  }
  .relax1 button {
    margin-left: -130px;
  }
  .Search {
    transform: translateX(-50px);
  }
  .Search button {
    max-width: 120px;
  }
  .box-cub img {
    width: 100%;
    height: 178.58px;
  }
  .box-pub img {
    width: 100%;
  }
  .box-sub img {
    width: 100%;
  }
  .solution {
    padding-left: 0;
  }
  .seeman {
    width: 70%;
    margin-left: 0;
    justify-content: center;
  }
  .space button {
    width: 20%;
  }
  .glob img {
    height: 100%;
  }
  .cheveron {
    height: 100%;
  }
  .second {
    margin-left: 130px;
  }
  .feature h1 {
    margin-left: 140px;
  }
  .new {
    /* margin-left: -50px; */
    transform: none;
  }
  .solution h1 {
    margin: 0;
    margin-left: 100px;
  }
  .square img {
    margin-left: -150px;
  }
  .cyd {
    margin-right: 0;
  }
  .gart button{
    bottom: 4%;
  }
  .gart{
    margin: 0;
  }
  .mop{
    gap: 60px;
  }
}

@media (max-width: 1079px) {
  .nav {
    margin: 0;
    padding: 0;
  }
  .rightmost::before {
    transform: none;
  }
  .rightmost .Signin {
    transform: none;
  }
  .scroll-ig {
    transform: none;
  }
  .solution {
    padding-left: 0;
    background-size: 100%;
  }
  .square img {
    margin-left: 0;
  }
  .space-full {
    margin-left: 0;
  }
  .product-ser {
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain");
    padding-left: 0;
  }
  .half {
    transform: none;
  }
  .gartner {
    transform: none;
    margin-left: 0;
  }

  .seeman {
    transform: none;
    margin: auto;
    margin-top: 40px;
  }
  .footer {
    margin-top: -120px;
  }
  .boxer img {
    margin-right: 0;
  }
  .boxer-2 img {
    display: none;
  }
  .foreign img {
    transform: none;
    width: 100%;
    max-height: 437px;
  }
  .cheese {
    margin-left: 0;
    display: block;
  }
  .change {
    margin-left: 0;
  }
  .product-ser {
    padding-left: 0;
  }
  .cheveron p {
    max-width: 190px;
  }
  .Search button {
    display: none;
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* margin-top: ; */
  }
  .nav {
    width: 100%;
  }
  .box {
    transform: none;
    max-width: 979px;
    max-height: 469.42px;
    gap: 10px;
  }
  .box-cub {
    max-width: 309px;
    height: 469.44px;
  }
  .box-sub {
    max-width: 309px;
    height: 469.44px;
  }
  .box-pub {
    max-width: 309px;
    height: 469.44px;
  }
  .box-cub img {
    max-width: 292.33px;
    height: 164.42px;
  }
  .box-pub img {
    max-width: 292.33px;
    height: 164.42px;
  }
  .box-sub img {
    max-width: 292.33px;
    height: 164.42px;
  }
  .square img {
    margin-left: -260px;
  }
  .space-full {
    width: 100%;
  }
  .fast {
    width: 90%;
  }
  .fast img {
    width: 100%;
    height: 412.7px;
  }
  .grid-1 {
    max-width: 308.33px;
  }
  .grid-around {
    grid-template-columns: repeat(3, 1fr);
  }
  .img img {
    width: 100%;
  }
  .gartner {
    width: 88%;
    margin: auto;
    margin-top: 100px;
  }
  .lego {
    margin-left: 0;
    width: 80%;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    text-align: left;
  }
  .pro {
    margin-left: 0;
    width: 90%;
  }
  .Search .fa-magnifying-glass {
    display: flex;
    /* padding-top: 10px; */
  }
  .second p {
    margin-bottom: 20px;
  }
  .second h1 {
    margin-bottom: 20px;
  }
  .second h3 {
    margin-bottom: 40px;
  }
  .Signin button {
    display: flex;
    box-sizing: border-box;
  }
  .relax img {
    width: 50%;
    height: 100%;
  }
  .cheveron {
    height: 100%;
  }
  .last-grid {
    background-color: #f4fafd;
  }
  .list-pop {
    width: 80%;
    justify-content: center;
  }
  .mop {
    gap: 0;
  }
  .ff {
    display: none;
  }
  .cc .tp {
    border-right: none;
  }
  .product-ser {
    margin-bottom: -60px;
    padding-bottom: 50px;
  }
  .glob img {
    margin-top: 0;
    height: 100%;
    /* height: 362px; */
    margin-top: -16px;
  }
  .relax {
    height: 100%;
  }
  .writings h2 {
    margin-top: 0;
    transform: none;
  }
  .groot {
    width: 60%;
  }
  .app {
    display: block;
  }
  .app button {
    display: none;
  }
  .insta {
    display: none;
  }
  .footer-li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
  }
  .footer-li ul {
    list-style: none;
    text-decoration: none;
  }
  .footer {
    margin-top: 0;
  }
  .last-grid {
    margin-top: 0;
  }
  .pro {
    padding-top: 40px;
  }
  .janco {
    margin-left: 100px;
  }
  .scroll-ig img {
    width: 50%;
    max-height: 329px;
  }
  .square img {
    position: static;
  }
  .scroll-bar {
    width: 70%;
  }
  .box {
    height: 100%;
    background-color: #f4fafd;
  }
  .solution {
    height: 100%;
    /* margin-top: 120px; */
    /* padding-left: 40px; */
    width: 100%;
    background-size: cover;
  }
  .fast {
    margin: auto;
  }
  .space button {
    width: 20%;
    /* margin: auto; */
  }
  .grass {
    display: block;
    padding-left: 100px;
    justify-content: left;
    /* padding-top: 40px; */
  }
  .full-box h3 {
    margin-left: 0;
    margin-top: 10px;
  }
  .space p {
    width: 100%;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
    padding-left: 0;
  }
  .grid-1 {
    width: 90%;
    gap: 0;
  }
  .grid-around {
    margin-top: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 290px;
    row-gap: 20px;
    width: 95%;
    gap: 0;
    margin: auto;
  }
  .quarter img {
    transform: none;
  }
  .quarter {
    transform: none;
  }

  .dyd .Signin {
    display: flex;
    color: #1a1a1f;
  }
  .rightmost .cid {
    display: none;
  }
  .cyd {
    display: flex;
  }
  .Search {
    transform: none;
    margin-right: 0;
  }
  .Signin {
    box-sizing: border-box;
    color: rgb(26, 26, 31);
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 53px;
    letter-spacing: -0.48px;
    line-height: 13px;
    align-items: center;
  }
  .Search span i {
    margin-top: 0;
    font-size: 14px;
    color: #747479;
  }
  .lic {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 13px;
  }
  .rightmost {
    gap: 0;
  }
  .lic .fa-ellipsis {
    color: #747479;
  }
}

/*             ffffffffffffffffffffffffff         */

@media (max-width: 860px) {
  .middle {
    height: 1780px;
    width: 100%;
  }
  .box {
    display: grid;
    width: 100%;
  }
  .scroll-ig img {
    transform: none;
  }
  .square {
    margin-left: -200px;
    transform: translateY(200px);
  }
  .full-box img {
    max-width: 731px;
  }
  .grid-around {
    display: block;
  }
  .grid-1 {
    max-width: 731px;
  }
  .box-pub {
    max-width: 715px;
    height: 494px;
  }
  .box-sub {
    max-width: 715px;
    height: 494px;
  }
  .box-cub {
    max-width: 715px;
    height: 494px;
  }
  .box-cub img {
    max-width: 700px;
    height: 299px;
  }
  .box-pub img {
    max-width: 700px;
    height: 299px;
  }
  .box-sub img {
    max-width: 700px;
    height: 299px;
  }
  .seeman {
    max-width: 80%;
    margin-left: 50px;
  }
  .gartner {
    display: flex;
    width: 70%;
    /* height: 818px; */
    flex-direction: column-reverse;
    position: relative;
    /* margin-left: 10px; */
  }
  .img img {
    width: 100%;
    max-height: 543px;
    /* transform: translateY(-135px); */
  }
  .gart {
    margin-top: 0;
  }
  .gart button{
    display: none;
  }
  .mop {
    gap: 0;
  }
  .relax img {
    max-width: 700px;
    height: 200px;
  }
  .cheveron {
    height: 100%;
    margin-bottom: -8px;
  }
  .lego {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    /* max-height: 700px; */
  }
  .foreign img {
    max-width: 534px;
    object-fit: cover;
    height: 100%;
  }
  .aks {
    margin: 0;
    transform: none;
    margin-top: -100px;
  }
  .AKS button {
    transform: none;
  }
  .edge {
    transform: none;
  }
  .AKS p {
    transform: none;
  }
  .seeman {
    width: 80%;
  }
  .janco {
    margin-left: 0;
  }
  .pro {
    display: block;
  }
  .last-grid {
    display: none;
  }
  .groot {
    max-width: 731px;
    height: 164px;
  }
  .nav-like {
    display: flex;
  }
  .new .p1 {
    display: flex;
    margin-left: 80px;
  }
  .new p {
    display: none;
  }
  .header-img video {
    width: 100%;
    max-height: 328px;
  }
  .second {
    max-width: 94%;
    top: 50px;
    margin-left: 80px;
  }
  .second h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    width: 100%;
  }
  .second h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 20px;
  }
  .second p {
    margin-bottom: 0;
  }
  .new {
    display: flex;
  }
  .Azure3 button {
    display: none;
  }
  .nav-like {
    justify-content: left;
  }
  .middle p {
    margin-top: -1px;
    padding-left: 5px;
    /* margin-left: 0; */
    margin-bottom: 0;
  }
  .feature h1 {
    margin-left: 65px;
    margin-top: 20px;
  }
  .roni {
    display: flex;
  }
  .roni p {
    width: 200px;
    display: flex;
    margin-left: 40px;
    align-items: center;
  }
  .scroll {
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  .scroll-ig img {
    width: 70%;
    justify-content: center;
    margin: auto;
  }
  .scroll-bar {
    margin-top: 0;
  }
  .square {
    margin-left: 0;
  }
  .square img {
    display: none;
  }
  .product p {
    margin: auto;
  }
  .unni {
    margin: auto;
    margin-left: 30px;
  }
  .product {
    margin-top: 0;
  }
  .product h2 {
    margin-left: 0;
  }
  .product-nav {
    margin: 0;
    position: relative;
    left: 20px;
    width: 90%;
  }
  .grid-1 {
    margin-top: 20px;
  }
  .box-cub .ron {
    transform: none;
  }
  .glob img {
    height: 276px;
  }
}

/*                      555555555       */

@media (max-width: 767px) {
  .paanch-btn {
    width: 100%;
    margin: 0;
  }
  .doo {
    display: none;
  }
  .nav-one {
    display: none;
  }
  .nav {
    height: 78px;
    justify-content: space-between;
  }
  .Search .fa-magnifying-glass {
    justify-content: right;
    align-items: center;
    /* margin-left: 400px; */
  }
  .Search {
    padding-top: 15px;
  }
  .zooha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .zooha h1 {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(26, 26, 31);
    cursor: pointer;
    display: inline;
    font-family: latest-bold;
    font-size: 17px;
    font-weight: 600;
    height: auto;
    letter-spacing: -0.48px;
    line-height: 44px;
  }
  .second h1 {
    max-width: 630px;
    font-size: 32px;
    font-weight: 600;
    height: 16px;
    letter-spacing: 0.96px;
    line-height: 16px;
  }
  .header-img video {
    width: 100%;
  }
  .second h3 {
    font-size: 18px;
    font-weight: 400px;
    line-height: 28px;
  }
  .second {
    top: 100px;
    /* margin-left: 0; */
  }
  .second p {
    max-width: 400px;
    box-sizing: norms-medium;
    display: block;
    font-family: latest-bold;
    font-size: 12px;
    font-weight: 600;
    height: 16px;
    letter-spacing: 0.96px;
    line-height: 16px;
  }
  .new .p1 {
    display: flex;
    margin-left: 20px;
  }
  .nav-like p {
    display: none;
  }
  .feature p {
    padding-left: 23px;
  }
  .feature h1 {
    margin-left: 22px;
  }
  .box-cub img {
    max-width: 607px;
    height: 260px;
  }
  .box-cub {
    max-width: 628px;
    height: 455px;
  }

  .box-pub img {
    max-width: 607px;
    height: 260px;
  }
  .box-pub {
    max-width: 628px;
    height: 455px;
    margin-top: 0;
  }
  .box-sub {
    max-width: 628px;
    height: 455px;
    margin-top: 0;
  }
  .box-sub img {
    max-width: 608px;
    height: 260px;
  }
  .nav-left {
    justify-content: center;
    align-items: center;
  }
  .nav-left h1 {
    display: none;
  }
  .nav-left img {
    max-width: 32px;
    height: 32px;
  }
  .svg .fa-solid {
    max-width: 44px;
  }
  .fast img {
    max-width: 639px;
    height: 277px;
  }
  .grid-1 {
    max-width: 639px;
    height: 208px;
  }
  .gartner {
    max-width: 637px;
    /* height: 773px; */
  }
  .img img {
    /* width: 100%; */
    height: 100%;
  }
  .list-pop {
    width: 90%;
  }
  .glob img {
    height: 400px;
    margin-top: -24px;
  }
  .master h2 {
    padding-left: 0;
  }
  .second h3 {
    margin-bottom: 0;
  }
  .Azure3 button {
    width: 100%;
  }
  .language {
    margin-left: 0;
  }
  .health {
    padding-right: 0;
  }

  .product-nav {
    margin: 0;
    /* margin-left: 20px; */
  }
  .solution h1 {
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
  }
  .solution p {
    margin: 0;
    margin-top: 100px;
    margin-left: 20px;
  }
  .scroll {
    margin: 0;
    margin-top: 40px;
  }
  .paanch-btn button {
    margin-left: 20px;
  }
  .scroll-ig {
    margin-top: 40px;
  }
  .product h2 {
    margin: 0;
  }
  .product p {
    margin: 0;
  } 

  .second h1 {
    font-family: norms-medium;
    font-size: 31px;
    font-weight: 500;
    height: auto;
    letter-spacing: -1.6px;
    line-height: 40px;
    display: block;
    margin-bottom: 0;
    max-width: 300px;
  }
  .cheveron h1 {
    margin-top: 0;
  }
  .Search span i {
    position: relative;
    margin-right: 20px;
    font-size: 17px;
  }
  .lic {
    display: none;
  }
  .dyd {
    margin-left: 0;
  }
  .Signin {
    margin-right: 20px;
  }
  .middle p {
    margin-bottom: 0;
  }
  .solution p {
    margin-top: 0;
  }
  .box {
    width: 87%;
  }
  .space button {
    width: 40%;
  }
  .grid-1 p {
    transform: none;
    bottom: 0;
  }
  .grid-1 img {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .header-img {
    width: 100%;
  }
  .second p {
    width: 100%;
  }
  .Search {
    padding: 0;
  }
  .second h1 {
    max-width: 500px;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -1.6px;
    font-family: norms-bold;
  }
  .second {
    width: 78%;
    padding-left: 0;
    margin-left: 30px;
  }
  .second h3 {
    max-width: 507px;
    margin-bottom: 0;
  }
  .btn {
    display: block;
    flex-grow: 1;
  }
  .btn1 button {
    width: 90%;
    height: 52px;
    flex-grow: 1;
  }
  .btn2 button {
    width: 90%;
    height: 52px;
    margin-top: 10px;
    flex: 1;
  }
  .Azure3 {
    padding-left: 0;
  }
  .new .p1 {
    padding: 0;
  }
  .nav-like {
    width: 100%;
    justify-content: space-between;
  }
  .box {
    display: block;
    width: 95%;
  }
  .box-cub {
    width: 94%;
    height: 422px;
  }
  .box-cub img {
    width: 97%;
    height: 203px;
  }
  .box-pub {
    max-width: 96%;
    height: 422px;
    margin-top: 10px;
  }
  .box-pub img {
    width: 97%;
    height: 203px;
  }
  .box-sub {
    width: 94%;
    height: 422px;
    margin-top: 10px;
  }
  .box-sub img {
    width: 97%;
    height: 203px;
  }
  .solution {
    width: 100%;
  }
  .foo {
    display: none;
  }
  .scroll {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .square img {
    margin-left: -300px;
  }
  .scroll-bar {
    width: 90%;
  }
  .scroll-bar {
    padding-left: 0;
    margin-top: 0;
  }
  .product p {
    padding-top: 30px;
  }
  .fast img {
    max-width: 499px;
    height: 236px;
  }
  .grid-around {
    margin-top: 30px;
  }
  .grass {
    margin-top: -200px;
  }
  .gartner {
    width: 80%;
    max-height: 666px;
  }
  .img img {
    max-width: 100%;
    height: 366px;
  }
  .gart h1 {
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 0;/
    
  }
  .half {
    transform: none;
    padding-right: 0;
  }
  .relax img {
    padding: 0;
    border-radius: 8px;
    margin-top: 10px;
    /* margin-bottom: 30px; */
  }
  .cheveron {
    height: 400px;
    padding-bottom: 90px;
  }
  .global {
    margin-top: -90px;
  }
  .glob p {
    text-align: center;
  }
    .master p {
    padding-left: 0;
  }
  .lego {
    width: 89%;
    height: 100%;
  }
  .stories {
    max-width: 100%;
  }
  .foreign img {
    width: 100%;
    height: 100%;
  }
  .AKS {
    margin-bottom: 40px;
  }
  .AKS button {
    width: 90%;
    margin-top: 30px;
  }
  .seeman {
    width: 100%;
    margin-left: 0;
  }
  .boxer img {
    max-width: 60px;
    margin: 0;
    object-fit: cover;
  }
  .boxer {
    max-width: 100px;
  }
  .app button {
    margin-left: 0;
  }
  .footer-li {
    margin-left: 0;
  }
  .health {
    padding: 0;
  }
  .product h2 {
    font-size: 25px;
  }
  .grid-1 {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .grid-1 p {
    transform: none;
  }
  .grid-1 h4 {
    margin-top: 0;
  }
  .grid-1 span {
    width: 90%;
  }
  .Search .fa-magnifying-glass {
    align-items: center;
    align-items: center;
    /* margin-top: 20px; */
  }
  .scroll-ig img {
    max-width: 499px;
    height: 409px;
    /* margin-left: 20px; */
  }
  .square img {
    max-width: 30px;
    height: 30px;
  }
  .scroll-ig img {
    width: 89%;
  }
  .list-pop {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  .language {
    margin-left: 0;
    display: block;
  }
  .middle p {
    margin-bottom: 0;
  }
  .header-img video {
    max-height: 456px;
  }
 
  .product-nav {
    display: flex;
    overflow-y: hidden;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .scroll-bar select {
    color: #f4fafd;
  }
  .space button {
    width: 80%;
  }
  .grass {
    padding-top: 0;
  }
  .space p {
    margin: 0;
  }
}

@media (max-width: 390px) {
  .btn1 button {
    max-width: 355px;
  }
  .btn2 button {
    max-width: 355px;
  }
   header {
    height: 640px;
  }
  .Azure3 {
    display: none;
  }
  .feature h1 {
    max-width: 350px;
    font-size: 23px;
  }
  .box-cub img {
    width: 96%;
  }
  .box-cub {
    width: 88%;
  }
  .middle p {
    margin-bottom: 0;
  }
  .box-sub {
    width: 88%;
    height: 100%;
  }
  .box-sub img {
    width: 96%;
  }
  .box-pub {
    width: 88%;
  }
  .box-pub img {
    width: 96%;
    /* height: 100%; */
  }
  .scroll-ig img {
    width: 90%;
    height: 281px;
  }
  .square img {
    max-width: 40px;
    height: 40px;
  }
  .unni {
    padding-top: 0;
  }
  .product-nav {
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-x: hidden;
  }
  .fast img {
    max-width: 351px;
    height: 184px;
  }
  .grass {
    transform: translateY(30px);
  }
  .grid-1 {
    max-width: 351px;
    height: 232px;
  }
  .img img {
    transform: none;
    height: 100%;
  }
  .global h1 {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    height: 40px;
    letter-spacing: -1.6px;
    line-height: 40px;
  }
  .glob button {
    width: 40%;
  }
  .master h2 {
    font-family: latest-bold;
    font-size: 24px;
    font-weight: 600;
    height: 64px;
    letter-spacing: -1.2px;
    line-height: 32px;
  }
  .lego {
    max-width: 339px;
    max-height: 815px;
  }
  .foreign img {
    width: 100%;
    height: 296px;
  }
  .writings h2 {
    max-width: 321px;
  }
  .AKS button {
    width: 30%px;
  }
  .edge {
    display: block;
  }
  .writings h2 {
    margin-top: 0;
    transform: none;
  }
  .footer-li {
    gap: 0;
  }
  .language {
    margin-left: 0;
    display: block;
  }
  .list-pop {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  .nav-left {
    padding: 0;
  }
  .product-nav {
    margin-left: 0;
  }
  .scroll-ig {
    padding-left: 0;
  }
  .foreign img {
    width: 100%;
  }
  .relax img {
    width: 50%;
    height: auto;
  }
  .global img {
    margin-top: -80px;
  }
  .first {
    height: 100%;
  }
  .quarter {
    transform: none;
  }
  .quarter img {
    transform: none;
  }
    .grass {
    transform: none;
  }
  .grass h3 {
    font-size: 24px;
  }
  .space p {
    margin: 0;
  }
  .health ul {
    display: block;
  }
  .new {
    margin-left: 0;
  }
  .header-img video {
    /* max-height: 456px; */
    max-height: 100%;
  }
  .second h1 {
    width: 100%;
    font-size: 31px;
  }
  
  .grass{
    padding: 0;
  }
  .second h3 {
    width: 100%;
    font-size: 18px;
    max-width: 100%;
  }
  .btn {
    width: 100%;
  }
  .btn1 button {
    width: 100%;
  }
  .btn2 button {
    width: 100%;
  }
  .footer-li {
    display: block;
  }
  .footer {
    height: 100%;
  }
  .gartner {
    width: 80%;
  }
  .paanch-btn {
    margin-top: 20px;
  }
  .solution p {
    padding: 0;
  }
  .box {
    margin: auto;
  }
  .pop h3{
    margin: 0;
  }
}
